@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

/* CSS Variables */
:root {
  --main-color: #ffb340;
  --background-color: #fff4e4;
  --text-color-1: #b36614;
}

body {
  font-size: 66.7%;
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

.header {
  background-color: var(--main-color);
  height: 14vh;
  border-bottom: 2px solid var(--text-color-1);
}

.header__nav {
  width: 60vw;
  margin: 0 auto;
}

.header__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__list--item a {
  text-decoration: none;
  font-size: 1.15rem;
  text-transform: uppercase;
  color: var(--text-color-1);
}

.header__list--item a:hover {
  border-bottom: 2px solid var(--text-color-1);
}

.header__list--logo {
  height: 6.2rem;
  width: 6.2rem;
}

#meals-showcase {
  width: 93vw;
  margin: 3rem auto;
  display: flex;
}

.meal,
.feature {
  border-radius: 10px;
  font-family: "Do Hyeon";
  padding: 2rem;
  position: relative;
}

.meal a,
.feature a {
  text-decoration: none;
  color: var(--main-color);
  padding: 0.07rem 0.4rem;
  transition: all 0.1s;
}

.meal a:hover,
.feature a:hover  {
  background-color: var(--main-color);
  color: white;
}

.promotion {
  background-image: url("https://images.unsplash.com/photo-1571091718767-18b5b1457add?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1652&q=80");
  background-size: cover;
  height: 70vh;
  width: 60vw;
  margin-right: 1.5rem;
}

.promotion h1 {
  color: white;
  font-size: 8rem;
  position: absolute;
  top: 35%;
  left: 5%;
}

.promotion a {
  font-size: 1.5rem;
  position: absolute;
  top: 65%;
  left: 5.5%;
}

.meal__item--1 {
  background-image: url("https://images.unsplash.com/photo-1585109649139-366815a0d713?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  width: 35vw;
  height: 34vh;
  margin-bottom: 1rem;
}

.meal__item--1 h2 {
  font-size: 3rem;
}

.meal__item--1 a {
  font-size: 2rem;
}

.meal__item--2 {
  background-image: url("https://images.unsplash.com/photo-1577805947697-89e18249d767?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=643&q=80");
  background-size: cover;
  background-position: center;
  width: 35vw;
  height: 34vh;
  text-align: center;
}

.meal__item--2 h2 {
  color: white;
  font-size: 4.7rem;
  transform: translateY(160%);
}

#covid-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1e1f;
  width: 100vw;
  height: 20vh;
  margin: 6.5rem 0;
}

#meals-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  width: 80vw;
  height: 100vh;
  margin: 4rem auto;
}

#meals-section .meal,
#meals-section .feature {
  width: 40vw;
  height: 100%;
  margin: 0.5rem;
}

.meal__item--3 {
  background-image: url("https://images.unsplash.com/photo-1522244451342-a41bf8a13d73?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  position: relative;
}

.meal__item--3 h2 {
  color: white;
  position: absolute;
  right: 5%;
  font-size: 2.2rem;
}

.feature__item--1 {
  background-image: url('https://images.pexels.com/photos/357553/pexels-photo-357553.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
}

.feature__item--2 {
  background-image: url("https://images.pexels.com/photos/5077067/pexels-photo-5077067.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.feature__item--1 h2 {
  position: absolute;
  font-size: 4rem;
  right: 5%;
  bottom: 5%;
  color: black;
}

.feature__item--2 h2 {
  color: white;
}

.feature__item--3 {
  background-image: url('https://images.pexels.com/photos/1633578/pexels-photo-1633578.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.feature__item--3 h2 {
  position: relative;
  top: 70%;
  font-size: 2.5rem;
  color: white;
}

.feature__item--3 a {
  position: relative;
  top: 70%;
  left: -1%;
  font-size: 1.75rem;
}

#covid-notification * {
  color: white;
}

/* Media Queries */
@media (min-width: 1200px) {
  .promotion h1 {
    font-size: 6.5rem;
  }

  .meal__item--2 h2 {
    font-size: 3.95rem;
    transform: translateY(175%);
  }
}
