@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* CSS Variables */
:root {
  --main-color: #ffb340;
  --background-color: #fff4e4;
  --text-color-1: #b36614;
}

body {
  font-size: 66.7%;
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

.header {
  background-color: var(--main-color);
  height: 14vh;
  border-bottom: 2px solid var(--text-color-1);
}

.header__nav {
  width: 60vw;
  margin: 0 auto;
}

.header__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__list--item a {
  text-decoration: none;
  font-size: 1.15rem;
  text-transform: uppercase;
  color: var(--text-color-1);
}

.header__list--item a:hover {
  text-decoration: underline;
}

.header__list--logo {
  height: 6.2rem;
  width: 6.2rem;
}

#meals-section {
  width: 93vw;
  margin: 3rem auto;
  display: flex;
}

.meal {
  border-radius: 10px;
  font-family: "Do Hyeon";
  padding: 2rem;
  position: relative;
}

.meal a {
  text-decoration: none;
  color: var(--main-color);
  padding: .07rem .4rem;
  transition: all .1s;
}

.meal a:hover {
  background-color: var(--main-color);
  color: white;
  transform: translateY(-2.5px);
}

.promotion {
  background-image: url('https://images.unsplash.com/photo-1571091718767-18b5b1457add?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1652&q=80');  
  background-size: cover;
  height: 70vh;
  width: 60vw;
  margin-right: 1.5rem;
}

.promotion h1 {
  color: white;
  font-size: 8rem;
  position: absolute;
  top: 35%;
  left: 5%;
}

.promotion a {
  font-size: 1.5rem;
  position: absolute;
  top: 65%;
  left: 5.5%;
}

.meal__item--1 {
  background-image: url('https://images.unsplash.com/photo-1585109649139-366815a0d713?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  width: 35vw;
  height: 34vh;
  margin-bottom: 1rem;
}

.meal__item--1 h2 {
  font-size: 3rem;
}

.meal__item--1 a {
  font-size: 2rem;
}

.meal__item--2 {
  background-image: url('https://images.unsplash.com/photo-1577805947697-89e18249d767?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=643&q=80');
  background-size: cover;
  background-position: center;
  width: 35vw;
  height: 34vh;
  text-align: center;
}

.meal__item--2 h2 {
  color: white;
  font-size: 4.7rem;
  transform: translateY(160%);
}


